<h1>Edit Scroll</h1>

<form action="/scrolls/{{scroll._id}}" method="POST" id="add_edit-form">
    {{!-- overrides the POST method --}}
    <input type="hidden" name="_method" value="PUT">
    {{!-- Scroll Title --}}
    <div class="row">
        <label for="title">Title: 
            <input type="text" name="title" id="title" class="block pad-0_5 font1 wide15" value="{{scroll.title}}" required>
        </label>
    </div>
    {{!-- Scroll Status --}}
    <div class="row">Status: 
        <fieldset id="scrollStatusToggle" class="wide-fit font1 pad-0_4 wide15 flex space-around">
            <label for="private">Private
                <input type="radio" name="status" id="private" value="private"
                {{#if (equals scroll.status 'private')}}checked{{/if}}
                >
            </label>
            <label for="public">Public
                <input type="radio" name="status" id="public" value="public"
                {{#if (equals scroll.status 'public')}}checked{{/if}}
                >
            </label>
        </fieldset>
    </div>
    {{!-- Select Users to Share With --}}
    <div id="multiUserSelectWrapper" class="hide">
        {{!-- Dropdown Toggle Box --}}
        <div id="multiUserDropdown" class="row">
            <label>Share With All: 
                <select class="search-box block wide15 font1 pad-0_5">
                    <option>or Select Users</option>
                </select>
                <div id="over-select"></div>
            </label>
        </div>
        {{!-- User Checkbox Options --}}
        <div id="multiUserCheckboxes" class="row hide wide15 pad-0_5 font1">
            {{#each users}}
                {{#if (not (isLoggedUser _id ../user))}}
                    <label for="{{displayName}}" class="block marg-top-0_5 marg-bot-0_5">
                        <input type="checkbox" name="{{displayName}}" id="{{displayName}}" class="checkbox" value="{{_id}}"
                            {{#if (isSharedUser _id ../scroll.statusUsers)}}checked{{/if}}
                        >
                        {{displayName}}
                    </label>
                {{/if}}
            {{/each}}
        </div>
        <input class="hide" type="text" name="statusUsers" id="statusUsers">
        <div class="hide" id="authorID">{{getUserIdFrom user}}</div>
    </div>
    {{!-- Scroll Tags --}}
    <div class="row">
        <label for="tags">Tags: 
            <input type="text" name="tags" id="tags" class="block pad-0_5 font1 wide15" placeholder="(separate tags by comma)" value="{{scroll.tags}}">
        </label>
    </div>
    {{!-- Scroll Body --}}
    <div class="row">
        <label>Scroll Body:
            <textarea name="body" id="scroll-body" required>{{scroll.body}}</textarea>
        </label>
    </div>
    {{!-- Save or Cancel Buttons --}}
    <div class="row">
        <input type="submit" value="Save" class="btn border1 bg-color3 white">
        <a href="/dashboard" class="btn border1 bg-color5 white">Cancel</a>
    </div>
</form>