<h1 id="page-title">Edit Scroll</h1>

<form action="/scrolls/{{scroll._id}}" method="POST" id="add_edit-form" class="form">
    {{!-- overrides the POST method --}}
    <input type="hidden" name="_method" value="PUT">
    {{!-- Scroll Title --}}
    <div class="row">
        <label for="title">Title: 
            <input type="text" name="title" id="title" class="block pad-0_5 font1 wide15" value="{{scroll.title}}" required>
        </label>
    </div>
    {{#if (isAuthor scroll.author user)}}
        {{!-- Yes/No coAuthor --}}
        <label class="row hover-pointer">Co-Authors: 
            <div class="switch">
                <input id="hasCoAuthors" type="checkbox"
                {{#if (hasCoAuthors scroll.coAuthors)}}checked{{/if}}
                >
                <span class="slider round"></span>
            </div>
        </label>
        {{!-- Select coAuthors --}}
        <div id="coAuthorUserSelectWrapper" class="hide marg-top-0_25">
            {{!-- Dropdown Toggle Box --}}
            <div id="coAuthorUserDropdown" class="row">
                <label class="hover-pointer">
                    <select class="search-box block wide15 font1 pad-0_5">
                        <option>click to select</option>
                    </select>
                    <div id="over-select"></div>
                </label>
            </div>
            {{!-- coAuthor Checkbox Options --}}
            <div id="coAuthorUserCheckboxes" class="row hide wide15 pad-0_5 font1">
                {{#each users}}
                    {{#if (not (isLoggedUser _id ../user))}}
                        <label for="{{displayName}}" class="block marg-top-0_5 marg-bot-0_5 hover-pointer">
                            <input type="checkbox" name="{{displayName}}" id="{{displayName}}" class="coAuthorCheckbox" value="{{_id}}"
                                {{#if (isCoAuthor _id ../scroll.coAuthors)}}checked{{/if}}
                            >
                            <img class="circle wide1 inline" src="{{image}}" alt="{{displayName}}'s profile picture"> {{displayName}}
                        </label>
                    {{/if}}
                {{/each}}
            </div>
            <input class="hide" type="text" name="coAuthors" id="coAuthors"
                {{#if (hasCoAuthors scroll.coAuthors)}}value="{{{scroll.coAuthors}}}"{{/if}}
            >
        </div>
    {{/if}}
    {{!-- Scroll Status --}}
    <div class="row">Status: 
        <fieldset id="scrollStatusToggle" class="wide-fit font1 pad-0_4 wide15 flex space-around">
            <label for="private" class="hover-pointer">Private
                <input type="radio" name="status" id="private" value="private"
                {{#if (equals scroll.status 'private')}}checked{{/if}}
                >
            </label>
            <label for="select" class="hover-pointer">Select
                <input type="radio" name="status" id="select" value="select"
                {{#if (equals scroll.status 'select')}}checked{{/if}}
                >
            </label>
            <label for="friends" class="hover-pointer">Friends
                <input type="radio" name="status" id="friends" value="friends"
                {{#if (equals scroll.status 'friends')}}checked{{/if}}
                >
            </label>
            <label for="public" class="hover-pointer">Public
                <input type="radio" name="status" id="public" value="public"
                {{#if (equals scroll.status 'public')}}checked{{/if}}
                >
            </label>
        </fieldset>
    </div>
    {{!-- Select Users to Share With --}}
    <div id="shareUserSelectWrapper" class="hide">
        {{!-- Dropdown Toggle Box --}}
        <div id="shareUserDropdown" class="row">
            <label class="hover-pointer">Users shared with: 
                <select class="search-box block wide15 font1 pad-0_5">
                    <option>click to select</option>
                </select>
                <div id="over-select"></div>
            </label>
        </div>
        {{!-- User Checkbox Options --}}
        <div id="shareUserCheckboxes" class="row hide wide15 pad-0_5 font1">
            {{#each users}}
                {{#if (not (isLoggedUser _id ../user))}}
                    <label for="{{_id}}" class="block marg-top-0_5 marg-bot-0_5 hover-pointer">
                        <input type="checkbox" name="{{_id}}" id="{{_id}}" class="selectUserCheckbox" value="{{_id}}"
                            {{#if (isSelectUser _id ../scroll.selectUsers)}}checked{{/if}}
                        >
                        <img class="circle wide1 inline" src="{{image}}" alt="{{displayName}}'s profile picture"> {{displayName}}
                    </label>
                {{/if}}
            {{/each}}
        </div>
        <input class="hide" type="text" name="selectUsers" id="selectUsers"
        {{#if (hasSelectUsers scroll.selectUsers)}}value="{{{scroll.selectUsers}}}"{{/if}}
        >
    </div>
    {{!-- Scroll Tags --}}
    <div class="row">
        <label for="tags">Tags: 
            <input type="text" name="tags" id="tags" class="block pad-0_5 font1 wide15" placeholder="(separate tags by comma)" value="{{scroll.tags}}">
        </label>
    </div>
    {{!-- Scroll Body --}}
    <div class="row">
        <label>Scroll Body:
            <textarea name="body" id="scroll-body" required>{{scroll.body}}</textarea>
        </label>
    </div>
    {{!-- Save or Cancel Buttons --}}
    <div class="row">
        <input type="submit" value="Save" class="btn border1 bg-color3 white">
        <a href="/dashboard" class="btn border1 bg-color5 white">Cancel</a>
    </div>
</form>