<div class="row">
    <div class="col s12 m8">
        <h3>{{scroll.title}}
            <small>{{{editIcon scroll.user user scroll._id false}}}</small>
        </h3>
        <div class="card scroll">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{scroll.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{scroll.user.displayName}}</span>
                <img src="{{scroll.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/scrolls/user/{{scroll.user._id}}">More From {{scroll.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>