{{!-- Shows ONE scroll --}}
{{#if (isViewableScroll scroll.author scroll.status scroll.selectUsers scroll.coAuthors users user)}}
    <h1 id="page-title" class="no-marg">{{scroll.title}}</h1>

    <div class="card pad-0_5 pad-4-large bg-color4">
        {{!-- edit icon --}}
        <span class="float-r">{{{editIcon scroll.author scroll.coAuthors user scroll._id}}}</span>
        {{!-- print icon --}}
        <span class="float-r">
                <i id="print-btn" class="material-icons bg-color2 white marg-left-0_5 pad-0_5 circle hover-pointer">print</i>
        </span>
        {{!-- scroll --}}
        <span class="italic font08 border-bot1">
            by <span class="scroll-user">{{{scroll.author.displayName}}}</span>
            {{#if (hasCoAuthors scroll.coAuthors)}}and <span class="scroll-coAuthors">others </span>{{/if}}-
            <span class="scroll-date">{{formatDate scroll.createdOn}}</span>
        </span>
        <div class="italic font08">
            {{#if (equals scroll.status 'select')}}(shared with select users){{/if}}
            {{#if (equals scroll.status 'friends')}}(shared with friends){{/if}}
        </div>
        <div>{{{youtubeEmbed scroll.body}}}</div>
        {{#if tags}}<span class="italic">Tags: {{scroll.tags}}</span>{{/if}}
    </div>

    <a href="/scrolls/user/{{scroll.author._id}}" class="wide-fit center-block no-under">
        <figure class="center-txt">
            <img src="{{scroll.author.image}}" class="circle">
            <figcaption class="btn block bg-color2 color4">More from {{scroll.author.firstName}}</figcaption>
        </figure>
    </a>
{{else}}
    {{!-- scroll is not viewable, don't show --}}
    <h1 class="no-marg">Private Scroll</h1>
    <p>You are not authorized to view this scroll. If this is your scroll, please log in.</p>
    <a href="/dashboard" class="btn bg-color2 color4">Go to Dashboard</a>
{{/if}}