{{!-- Shows ONE scroll --}}

<div class="card pad-0_5">
    <h1 class="scroll-title">{{scroll.title}}
        <span class="float-r">{{{editIcon scroll.user user scroll._id}}}</span>
    </h1>
    <span class="italic font08">
        by {{scroll.user.displayName}},
        <span class="scroll-date">{{formatDate scroll.createdOn}}</span>
    </span>
    <div class="border-top1">{{{scroll.body}}}</div>
    <span class="italic">Tags: {{scroll.tags}}</span>
</div>

<a href="/scrolls/user/{{scroll.user._id}}" class="wide-fit center-block no-under">
    <figure class="center-txt sma">
        <img src="{{scroll.user.image}}" class="circle">
        <figcaption class="btn block bg-blue lighten2 white">More from {{scroll.user.firstName}}</figcaption>
    </figure>
</a>