<script>  
    // Testing timezone when running on heroku
    const USERZONE = console.log('Timezone ' + Intl.DateTimeFormat().resolvedOptions().timeZone);
</script>

<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your scrolls </p>
{{#if scrolls}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each scrolls}}
                <tr>
                    <td><a href="/scrolls/{{_id}}">{{title}}</a></td>
                    <td>{{tags}}</td>
                    <td>{{formatDate createdOn USERZONE}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/scrolls/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit fa-small"></i></a>

                        <form action="/scrolls/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"><i class="fas fa-trash fa-small"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>...you have not created any scrolls</p>
{{/if}}