{{!-- Dashboard Layout Body --}}
<p class="right-txt font08">Welcome {{name}}</p>
<h1>Dashboard</h1>

{{#if scrolls}}
    <h3>Here are your scrolls </h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each scrolls}}
                <tr>
                    <td><a href="/scrolls/{{_id}}">{{title}}</a></td>
                    <td>{{tags}}</td>
                    <td class="scroll-date">{{formatDate createdOn}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/scrolls/edit/{{_id}}" class="btn btn-float"><i class="fas fa-edit fa-small"></i></a>

                        <form action="/scrolls/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red"><i class="fas fa-trash fa-small"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p class="font09">You have no scrolls. Click the red button to start.</p>
{{/if}}