{{!-- Dashboard Layout Body --}}
<p class="right-txt font08">Welcome {{name}}</p>
<h1>Dashboard</h1>

{{#if scrolls}}
    <h3>Here are your scrolls </h3>
    <table id="scroll-table">
        <thead>
            <tr class="scroll-table-head">
                <th>Title</th>
                {{!-- <th>Tags</th> --}}
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each scrolls}}
                <tr class="scroll-row">
                    <td><a href="/scrolls/{{_id}}">{{title}}</a></td>
                    {{!-- <td>{{tags}}</td> --}}
                    <td class="scroll-date">{{formatDate createdOn}}</td>
                    <td><span class="">{{status}}</span></td>
                    <td class="center-txt flex-large">
                        {{!-- Edit Button --}}
                        <a href="/scrolls/edit/{{_id}}" class="btn border2 marg-bot-05 bg-none dash-btn"><i class="material-icons">edit</i></a>
                        {{!-- Delete Button --}}
                        <form action="/scrolls/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red darken1 border2 bg-none dash-btn"><i class="material-icons">delete_forever</i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p class="font09">You have no scrolls. Click the red button to start.</p>
{{/if}}