{{!-- Dashboard Layout Body --}}
<p class="right-txt font08">Welcome {{name}}</p>

<h1>Your Scroll Dashboard</h1>

{{#if scrolls}}
    {{!-- <h2>Here are your scrolls </h2> --}}

    {{!-- Toggle Search Box --}}
    <div id="filterButton" class="wide-fit marg-bot-1 btn bg-color3 white">Filter Scrolls</div>
    
    <div id="searchBox" class="hide">
        {{!-- Reset View --}}
        <div class="wide-fit marg-bot-1">
            <a href="" class="btn bg-color3 white">Reset Filter</a>
        </div>
    
        {{!-- Searches --}}
        <div class="scroll-search">
            {{!-- Title Search --}}
            <div class="wide-fit marg-bot-0_5 marg-right-2">
                <label for="dashTitleSearch">Title: 
                    <input type="text" name="dashTitleSearch" id="dashTitleSearch" class="wide10 high3 search-box pad-0_5 font1" placeholder="search titles">
                </label>
                <div id="dashTitleSearchBtn" class="search-btn bg-color3 white marg-left-0_5"><i class="material-icons">search</i></div>
            </div>
            {{!-- Date Search --}}
            <div class="wide-fit marg-bot-0_5 marg-right-2">
                <label for="dashDateSearch">Date: 
                    <input type="date" name="dashDateSearch" id="dashDateSearch" class="wide10 high2_5 search-box pad-0_5 font1">
                </label>
            </div>
            {{!-- Tag Search --}}
            <div class="wide-fit marg-bot-0_5 marg-right-2">
                <label for="dashTagSearch">Tag: 
                    <input type="text" name="dashTagSearch" id="dashTagSearch" class="wide10 high2_5 search-box pad-0_5 font1" placeholder="or search tags">
                </label>
                <div id="dashTagSearchBtn" class="search-btn bg-color3 white marg-left-0_5"><i class="material-icons">search</i></div>
            </div>
            {{!-- Status Search --}}
            <div class="wide-fit marg-bot-0_5 marg-right-2">
                <label for="dashStatusSearch">Status: 
                    <select name="dashStatusSearch" id="dashStatusSearch" class=" wide10 high2_5 search-box pad-0_5 font1">
                        <option value="all">All</option>
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                        <option value="shared">Shared</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <table id="scroll-table">
        <thead>
            <tr class="bg-color2 white">
                <th>Title</th>
                <th>Date</th>
                <th class="table-cell">Tags</th>
                <th>Status</th>
                <th>Tools</th>
            </tr>
        </thead>
        <tbody>
            {{#each scrolls}}
                <tr class="dash-scroll scroll-row">
                    <td><a href="/scrolls/{{_id}}" class="color3 hover-color1 scroll-title">{{title}}</a></td>
                    <td class="scroll-date">{{formatDate createdOn}}</td>
                    <td class="scroll-tags">{{tags}}</td>
                    <td class="scroll-status">
                        {{#if (areStatusUsers statusUsers)}}
                            shared
                        {{else}}
                            {{status}}
                        {{/if}}
                    </td>
                    <td>
                        <div class="center-txt flex-large">
                            {{!-- Edit Button --}}
                            <a href="/scrolls/edit/{{_id}}" class="btn tool-btn color3 border2 bg-none marg-bot-05 tool-btn"><i class="material-icons">edit</i></a>
                            {{!-- Delete Button --}}
                            <form action="/scrolls/{{_id}}" method="POST"> {{!-- removed id="delete-form" --}}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn tool-btn color5 border2 bg-none tool-btn"><i class="material-icons">delete_forever</i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

{{else}}
    <p class="font09">You have no scrolls. Click the + button to start.</p>
    <a href="/scrolls/add" class="add-btn circle bg-color4 color2"><i class="material-icons">add</i></a>
{{/if}}