{{!-- This is only for UnScroll Administrators --}}
<h1>Users</h1>
<div>
    {{#if (contains user "googleId: '104800435635587428982'")}}
    {{!-- if chris2fowler(at)gmail.com is the user --}}
        {{#if users}}<ol>{{/if}}
        {{#each users}}
            <li class="user-item">
                {{{displayName}}}
                <br>{{{email}}}
                <br>Google ID: {{{googleId}}}
                <br>UID: {{{_id}}}
                <br>Friends: {{#if friends}}{{friends}}{{else}}No friends{{/if}}
                <br>Joined: {{{formatDate createdOn}}}
            </li>
        {{else}}
            <p>No Users to display</p>
        {{/each}}
        {{#if users}}</ol>{{/if}}
    {{else}}
    {{!-- if not --}}
        <p>You are not authorized to view this information!</p>
    {{/if}}
</div>